header{
	text-align: center;
	background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDQ8NDRAPDQ0NDw0NDQ0NDw8NDQ0NFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zOD8tNygtLjcBCgoKDQ0NDg0NDjcZFRkrLSsrLTc3KysrKysrLSstKystLSs3KysrKysrKysrKystLSstKysrKysrKysrKysrK//AABEIALEBHAMBIgACEQEDEQH/xAAZAAADAQEBAAAAAAAAAAAAAAACAwQBAAX/xAAgEAEBAQEBAQEBAAIDAAAAAAAAAgEDEhMRIVKRQVFh/8QAGAEBAQEBAQAAAAAAAAAAAAAAAQACBQT/xAAWEQEBAQAAAAAAAAAAAAAAAAAAEQH/2gAMAwEAAhEDEQA/APMiDphvOVEy9TmlZzb81GQLwkm+bc5Kcgec0k2ch5yU5zHPMJNnIzOSnOZmc0Uuch5yVZzMzmCkziLOKzOYs5pI84iziszkL5oovi74rvm35pIPiz4r/m75pPP3iHeL0N5h3mk8/eIN5PR3mDeaDzt4g3k9GuZdcynn7yL3k9HeZe80Hn7yBvJ6G8y95oIfkz5rN5h8FJd5t3z/AI5/vcU7BdQklrz/AI5/vU95/d/4/wDP+llyRWIn88UxJHJTGIDzBZLswycSDkmZLZwyZCDMGTApk2ZRBMGTA5k2YBLmDJgyYMmEYVkDyDcgeQDCcgWQfkNyEYR4d81Ph3hKJvmz5qvDPCUS7zDsK9gGwhEmwDYWbBdQlElQXULKguoIiOoLqFdQXUoJNgupV1JVSQm2QbKmpL3ECNwFYfsl1hSXpKep/qzpiagjOWKoxPyxVGIjnDZxkybMpOnDJlsybMgsmTZkUybMIwMybMimDZgGAmDZgcwZMBqF5A8g3IHkJQrIFkHZDcgGE+HeFHh3hKJ/DPCnwzwlE2wHYVbAdhKJNgvYWbBdQREdQXULKguoQiOpKqVlQVUERHUlVKyoKqCIkqS6lVUl1KES1JdYqqSbkhJ0xLWf1b0lNUpD5Yq54n44s54kZEnTLIk6JBbMmzLok+JDUZMnRDYk2JRjJg6YbMmzIagZgyYHMmTIMBkDyR5I8kGAyBZJmSLJRhXl3k7y3ylCPLvJ/lnlKJ9gOyo2Q7KUTbAKlTsg2SIlqCqhXUl1KER1BVQsqSqkiI6gqoWVJVSWYjqCqlZUlVKER1JNysuSbkhD0lNUrukpqn+oB44t5Ym44s5YkdzlREl88URgawUSdEsjDokNCiTplkSbMg42ZNmXThk4Go6ZMyWzg5xF2SPJbmCzAWZgskWYLMRB5b5H+N/Ei/LNk38Z+JE7gdw7cDuJEbIKw/cBWEJ6kupUbhdYgnqSqlTWF1hCapJqVVYVWJlLUlVKqpJrCEtSTcq7wi5IRdJTVK3piasQJ44t5Yk4reWEKeeHxhXPD4DWGxh8YVB8BrDJw6cLg2Q0ZOGTgJMkEc4ZmAkzARZg8wMjxFuYLMZgsBa38ZjUmfjNwWh1IOg0eh0gGg0eg1IusLozQUQXWFVhul0gVWF1htF0WSKwqsOoqiCLwi8UWTaCTpiasVdE9EJ+K3ki4rORCvmohNz1RGg4og6E86dOhrD506dTzps6Gj502dInTJ0E/NHmkzpk6CbmjzSs0eaiZgsLzRfoI/1v6D9d+pC/Wbof1m6U3dBuu3QbqDt0O67dL3UHboN126CtIZugrW1pdagytKrRVpVaQGtJvR1pVaQC9IvTL0i9LJHTU9ad01NWpE8dW8tQcdWc9LKyNPjUkUdNA4rnTZpLNGTQaVzRs0kmjZpGqpo2aSTRk0DVc0ZNJZoyaBqnKHlJsoeUjVGULKIym5QNP9O9E+nekqb6DtF7TNoqmbQNoG0DaQo9oG0HaBtIUW0DaDtF7RVFtAqg1RdUhW1RdUyqKqiK2qKqmVRVUQ66IvRVRF0maX0pNVG9KS1RQeOq+eoOWq40sq4o6aSTRs0CrmjJtJNGTYNVzZs2jmzJtGrJsybRzZk2DVs2ZNops2bRqvLHlpMseWDVeW32my25aVU+3e0/t3tKn+2bZHtm2lTtsO2Tth20qbtg2ytsO2hTNsG2Xtl7ZFMqy6sG2XVpUdWXVAqy6oiiqiqoNUXVFmtqibp1UVVIA6Ulqv6b0pNWpO5aqjUPKlUUQqmhzSfKFlJKsoeUlyx5aNVTZk2kyxzYVWTZk2jmzJtGrJsybRzY8sGrcsWWjyx50RqzLb7SZ0F7Cqr272l+jfolVHtm2n9s+iVUbYdsjbDtlU7bDtk7YNtCnbYNsnbBtpU2rLqy9sFWRTKourLqy6tCmVRdUDbL2iqOqLrWbRdUgDpqat/pvSk1UkznSiLefFnz0SXZYvaPOjfogtzoLOiH6izqkvzoPOjz86jzqi9CehmdHnZ1HnZF6OdBz1ednYzOwT0c6Czq87Ow87IvQzqL6vPzs37JPQ+rvqg+zfskt+rN6Ivsz7JLd6B3oj3sHeySzegd6I97B3skr3oDeiTewd6oKt6A3ol3sXvUhXXQveiXewd6pKd6B20u9WfVBTtgqyN6ArokPpaeqdVkbaIYNlzih4JjgGuc5EeCxrkhSZjnJCkzHOBHjca5IWNxzkm45rkWM1zkmaHXOSZoNc5AOl61xQNBrHIAoOuckFznIMDTnJFUXrnEv//Z);
	font-weight: bold;
  color: blue;
  margin-left: 2%;
}

#tuiter{
  width: 250px;
}

.imagen{
  width: 100%;
}
.datos{
  text-decoration: underline;
}

.encuentranos{
  text-align: center;
}

.entrada{
  margin-left: 15px;
  margin-right: 15px;
  width: 30%;
}

.edad{
  width: 5%;
}

.textos{
  text-decoration: underline;
  text-align: center;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px; 
}

.checkbox-inline{
  text-align: center;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px; 
}

.comment{
  margin-top: 10px;
  margin-right: 20%;
  margin-left: 2%;
  padding-left: 20px;
  width: 80%;
  height: 30%;
}
nav{
  margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding-left: 10%;
    padding-right: 10%;
}

nav li{

}
nav li:last-child {
    border-right: none;
}

nav li a {

    color: white;
    text-align: center;
    text-decoration: none;
}

nav li a:hover{
}

.active {
}

#pie{
  display: inline-block;
  margin-top: 30px;
	border-style: solid;
	border-color: #794D4D;
	border-width: medium;	
	text-align: left;
  text-align: justify;
  padding-left: 15px;
}
footer p{
	width:80%;
	display: inline-block;
  height: 50px;
}

footer figure{
  height: 70px;
  width: 70px;
  display: inline-block;
}

#txt_indice{
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
  height: 200px;
  width: 600px;
  
}


.vision{
  width:700px;
  padding: 15px;
  text-align: left;
  text-align: justify;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  padding-right: 5px;
  padding-bottom: 5px;
  margin: 10px 0;
  height: auto;
  float: right;
}

.mision{
  width:700px;
  padding: 15px;
  text-align: right;
  text-align: justify;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  padding-right: 5px;
  padding-bottom: 5px;
  margin: 10px 0;
  height: auto;
  float: left;
}




.figpersonal{
  width: 15%;
  height: 50%;
  margin-top: 5%;
  padding-left: 15px;
  padding-right: 0px;
  float: left;
}

.btn-submit{
  background: #23C74D;
  width: 10%;
  margin-top: 30px;
  font-size: 1em;
  margin-bottom: 30px;
  margin-left: 45%;
  color:#150808;
  border-radius: 7px;
  border-color: #30E22C;
}

.btn-submit:hover{
  background: #054A08;
  color:white;
  border-radius: 15px;
  border-color: #2EFA6C;
}



aside{
	border-width: medium;
	text-align: justify;
	width: 20%;
	/*margin: auto;*/
  text-align: justify;

}
aside img,iframe{
	width: 70%;
	margin-left: 5%;
	margin-right: 5%;
}
aside img{
	height: 100%;
}

.imagen{
	border-radius: 100px;
	border: dotted;
	border-color: black;
	box-shadow: 2px 2px 5px #999;
}

section#somos img:hover{
	opacity: 0.5;
	cursor: pointer;
}

table.blueTable {
  display: inline-block;
  background-color: #FFFFFF;
  border-collapse: collapse;
}
table.blueTable:hover{
  background-color: #FFFFFF;
}

table.blueTable td, table.blueTable th {
  border: 1px solid #30AAA0;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
  color: #000000;
}
table.blueTable tr:nth-child(even) {
  background: #4D77FF;
}
table.blueTable thead {
  background: #2B45A4;
  background: -moz-linear-gradient(top, #6073bb 0%, #4057ad 66%, #2B45A4 100%);
  background: -webkit-linear-gradient(top, #6073bb 0%, #4057ad 66%, #2B45A4 100%);
  background: linear-gradient(to bottom, #6073bb 0%, #4057ad 66%, #2B45A4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #5A14F5;
  text-align: center;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #F3F5F3;
  background: -moz-linear-gradient(top, #f6f7f6 0%, #f4f6f4 66%, #F3F5F3 100%);
  background: -webkit-linear-gradient(top, #f6f7f6 0%, #f4f6f4 66%, #F3F5F3 100%);
  background: linear-gradient(to bottom, #f6f7f6 0%, #f4f6f4 66%, #F3F5F3 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #425BA4;
  color: #FAFFFA;
  padding: 2px 8px;
  border-radius: 5px;
}


@calendar-border:rgb(220,220,255);
@calendar-bg:#fff;
@calendar-standout:rgb(40,40,59);
@calendar-color:#444;
@calendar-fade-color:#c0c0c0;
@body-color:#444;


.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.max(@maxWidth;
  @rules) {
    @media only screen and (max-width: @maxWidth) {
      @rules();
    }
  }

.min(@minWidth;
  @rules) {
    @media only screen and (min-width: @minWidth) {
      @rules();
    }
  }


.calendar-wrapper {
  display: inline-flex;
  background:@calendar-bg;
  
}
table {
  clear:both;
  border:1px solid @calendar-border;
  border-radius:3px;
  border-collapse:collapse;
  color: #FFFFFF;
  background: #107BBF;
}

table:hover{
  background: #29ABD0;
  border-color: #4C4949;
  color: #ffff;
}


td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid @calendar-border;
  border-top:1px solid @calendar-border;
  width:100% / 7;
}
td.not-current {
  color:@calendar-fade-color;;
}
td.normal {}
td.today {
  font-weight:700;
  color:@calendar-standout;
  font-size:1.5em;
}
thead td {
  border:none;
  color:@calendar-standout;
  text-transform:uppercase;
  font-size:1.5em;
}

#btnPrev {
  
  margin-top: 60%;
  margin-bottom:60%;
  background: #9F9898;
  &:before {
    content:'\f104';
    font-family:FontAwesome;
    padding-right:4px;
    
  }
}
#btnNext {
  
  margin-top: 60%;
  margin-bottom:60%;
  background: #9F9898;
  &:after {
    content:'\f105';
    font-family:FontAwesome;
    padding-left:4px;
    
  }
}
#btnPrev, #btnNext {
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  outline:none;
  font-size:1em;
  color:@calendar-fade-color;
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.3s ease;
  &:hover {
    color:@calendar-standout;
    font-weight:bold;
  }
}

#btnPrev:hover,#btnNext:hover{
  background: #33BECE;
  border-color: #F3DCDC;
  color: #FFFCFC;
}

#some-element1 {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div1:hover #some-element1 {
  display: block;
}

#some-element2 {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div2:hover #some-element2 {
  display: block;
}	

#some-element3 {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div3:hover #some-element3 {
  display: block;
}	

#some-element4 {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div4:hover #some-element4 {
  display: block;
}	

#some-element5 {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div5:hover #some-element5 {
  display: block;
}	


form{
  border:solid #111;
}


